<p id="notice"><%= notice %></p>

<p>
  <strong>File:</strong>
  <%= @import.file.filename %>
</p>

<%= link_to 'Download', @import.file, download: '' %>
<%= link_to 'View file', @import.file %>

<%= link_to 'Back', imports_path %>
